<div class="form-row checkout">
    <label for="<%= field.id %>-<%= paymentProductId %>-<%= paymentMethod %>-field"
           class="label label--full<% if (field.dataRestrictions.isRequired) { %> required<% } %>"><%= field.displayHints.label %><% if (field.dataRestrictions.isRequired) { %><em>*</em><% } %></label>

    <input type="password"
           id="<%= field.id %>-<%= paymentProductId %>-<%= paymentMethod %>-field"
           name="<%= field.id %>-<%= paymentProductId %>-<%= paymentMethod %>" class="<%= field.id %>-<%= paymentMethod %>-field input input--full"
           placeholder="<%= field.displayHints.placeholderLabel %>">

    <span id="<%= field.id %>-<%= paymentProductId %>-<%= paymentMethod %>-error"
          class="<%= field.id %>-<%= paymentMethod %>-error validation-failed hidden"><%= _.__('ingenico.general_error') %></span>
</div>
