<div class="form-row checkout">
    <label for="<%= field.id %>-<%= paymentProductId %>-<%= paymentMethod %>-field"
           class="label label--full<% if (field.dataRestrictions.isRequired) { %> required<% } %>"><%= field.displayHints.label %><% if (field.dataRestrictions.isRequired) { %><em>*</em><% } %></label>

    <input type="password"
           id="<%= field.id %>-<%= paymentProductId %>-<%= paymentMethod %>-field"
           name="<%= field.id %>-<%= paymentProductId %>-<%= paymentMethod %>"
           class="<%= field.id %>-<%= paymentMethod %>-field input input--full"
           placeholder="<%= field.displayHints.placeholderLabel %>">
           data-field-id="<%= field.id %>"
           <% if (!_.isUndefined(field.dataValidation)) { %>data-validation="<%- JSON.stringify(field.dataValidation) %>"<% } %>>
</div>
