<div class="form-row checkout">
    <label for="<%= fieldElementId %>"
           class="custom-checkbox input-widget <% if (field.dataRestrictions.isRequired) { %> required<% } %>">
        <input type="checkbox"
               id="<%= fieldElementId %>"
               <% if (checked) { %> checked="checked" <% } %>
               name="<%= field.id %>-<%= paymentProductId %>-<%= paymentMethod %>"
               class="custom-checkbox__input <%= field.id %>-field input input--full">
        <span class="custom-checkbox__icon"></span>
        <span class="custom-checkbox__text">
        <%= field.displayHints.label %><% if (field.dataRestrictions.isRequired) { %><em>*</em><% } %>
    </span>
    </label>
</div>
