<div class="form-row checkout">
    <label class="label label--full<% if (field.dataRestrictions.isRequired) { %> required<% } %>">
        <%= field.displayHints.label %><% if (field.dataRestrictions.isRequired) { %><em>*</em><% } %>
    </label>
    <select name="<%= field.id %>-<%= paymentProductId %>-<%= paymentMethod %>"
            id="<%= fieldElementId %>"
            class="<%= field.id %>-field select select--full input input--full">
        <% if (field.displayHints.placeholderLabel) { %>
        <option value=""><%= field.displayHints.placeholderLabel %></option>
        <% } %>
        <% for (var option in values) { %>
        <option value="<%= option %>"><%= values[option] %></option>
        <% } %>
    </select>
</div>
