<div class="form-row checkout">
    <label class="label label--full<% if (field.dataRestrictions.isRequired) { %> required<% } %>"><%= field.displayHints.label %><% if (field.dataRestrictions.isRequired) { %><em>*</em><% } %></label>
    <select name="<%= field.id %>-<%= paymentMethod %>" class="<%= field.id %>-<%= paymentMethod %>-field select select--full">
        <% if (field.displayHints.placeholderLabel) { %>
        <option value=""><%= field.displayHints.placeholderLabel %></option>
        <% } %>
        <% for (var option in values) { %>
        <option value="<%= option %>"><%= values[option] %></option>
        <% } %>
    </select>
    <span class="<%= field.id %>-<%= paymentMethod %>-error validation-failed hidden"><%= _.__('ingenico.general_error') %></span>
</div>
