{% block _payment_methods_ingenico_widget %}
    {% set componentOptions = {
        paymentMethod: name,
        paymentDetails: view.options.paymentDetails,
        saveForLaterUseEnabled: view.options.saveForLaterUseEnabled,
        savedCreditCardList: view.options.savedCreditCardList
    } %}
    <div class="{{ class_prefix }}-form__payment-methods ingenico-payment-form"
         data-page-component-module="ingenico/js/app/components/ingenico-credit-card-component"
         data-page-component-options="{{ componentOptions|json_encode }}"
    >
        <input type="hidden" class="current-payment-product" name="{{ name ~ '-current-payment-product' }}">
        <input type="hidden" class="current-payment-product-fields-values" name="{{ name ~ '-current-payment-product-fields-values' }}">

        <div class="payment-body"></div>
    </div>
{% endblock %}
