.checkout {
  .ingenico-payment-form {
    padding: 24px;
  }
}

.payment-product {
  padding: 0 8px 0;

  &__choice-label * {
    vertical-align: middle;
    color: $link-color;
  }

  &__form-fields {
    margin: 7px 0 24px;

    .form-row:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child .payment-product__form-fields {
    margin-bottom: 8px;
  }

  &__form-fields {
    margin: 15px 0 0;
  }

  &__logo {
    max-width: 50px;
    margin-right: 16px;
  }

  + .payment-product {
    padding-top: 8px;
    margin: 8px 0 0;
    border-top: 1px solid get-color('additional', 'light');
  }
}
